<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title><%= event.name%> | Eventox</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../../public/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../../public/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../../public/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="../../public/assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="index.html"><%= event.name %></a></h1>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="#">Generic</a></li>
					<li><a href="#">Elements</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<i class="icon fa-diamond"></i>
				<h2><%= event.name %></h2>
				<p><%= event.description %></p>
				<ul class="actions">
					<li><a href="/enroll/<%= event._id %>" class="button big special">Get Your Ticket Now</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="../../public/images/pic01.jpg" alt="" /></span>
						<div class="content">
							<h2>Time & Date</h2>
							<p> <span class = "date"> The event starts on <%= event.startDate %> at <%= event.startTime %>
									<br>
									The event will end on <%= event.endDate %> at <%= event.endTime%>
								</span></p>
							<ul class="actions" style= "text-align:center;">
								<li>
									<a href="#" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="../../public/images/pic02.jpg" alt="" /></span>
						<div class="content">
							<h2>Venue & How do You Get Here?</h2>
							<p><%= event.location %> <br> You can arrive by car or get to nearest metro station (xxxx/)</p>
							<ul class="actions" style= "text-align:center;">
								<li>
									<a href="#" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>All that is bound to happen</h2>
					</header>
					<div class="image-grid">
						<a href="#" class="image"><img src="../../public/images/pic03.jpg" alt="" /></a>
						<a href="#" class="image"><img src="../../public/images/pic04.jpg" alt="" /></a>
						<a href="#" class="image"><img src="../../public/images/pic05.jpg" alt="" /></a>
						<a href="#" class="image"><img src="../../public/images/pic06.jpg" alt="" /></a>
						<a href="#" class="image"><img src="../../public/images/pic07.jpg" alt="" /></a>
						<a href="#" class="image"><img src="../../public/images/pic08.jpg" alt="" /></a>
						<a href="#" class="image"><img src="../../public/images/pic09.jpg" alt="" /></a>
						<a href="#" class="image"><img src="../../public/images/pic10.jpg" alt="" /></a>
					</div>
					<ul class="actions">
						<li><a href="#" class="button big alt">Tempus Aliquam</a></li>
					</ul>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<h2>Destiny Awaits.</h2>
						<p>Your initiation into College life awaits.</p>
					</header>
					<ul class="actions">
						<li><a href="#" class="button big alt">Book Tickets</a></li>
					</ul>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style2 special">

			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../../public/assets/js/jquery.min.js"></script>
			<script src="../../public/assets/js/skel.min.js"></script>
			<script src="../../../public/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../../public/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../../public/assets/js/main.js"></script>

	</body>
</html>
