<% include partials/header.ejs %>





<h1>Events will appear here</h1>

<a href="/events/new">List Your Event Today!</a>

<% for(var i = 0 ; i < events.length; i++) { %>

<div>
    <h2><%= events[i].name %></h2>
    <div>
        <strong>Location: </strong> <%= events[i].location %>
        <strong>Start Date and Time :</strong> <%= events[i].startDate %> <%= events[i].startTime %>
        <% var a ="/events/"; %>
        <% var id = events[i]._id %>
        <% var url = a + id %>
        <em><a href=<%= url %>>More details</a></em>
    </div>
</div>

<% } %>
<% include partials/footer.ejs %>
