<% include partials/header.ejs %>
<div class="navbar-fixed">
    <nav class="grey">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="center brand-logo" >Evenox</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="left hide-on-med-and-down">
                    <li>
                        <a href="#home">section1</a>
                    </li>
                    <li>
                        <a href="#search">section2</a>
                    </li>
                    <li>
                        <a href="#home">section3</a>
                    </li>
                    <li>
                        <a href="#home">section4</a>
                    </li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="/events" class="spla"><button class="btn-small waves-effect waves-dark grey">Events</button></a>
                    </li>
                    <li>
                        <a href="/blog" class="spla"><button class="btn-small waves-effect waves-dark grey">Blogs</button></a>
                    </li>
                    <% if (currentUser != undefined) { %>
                    <li>
                        <a href="/user" class="spla"><button class="btn-small waves-effect waves-dark grey">My Events</button></a>
                    </li>
                    <li>
                        <a href="/logout" class="spla"><button class="btn-small waves-effect waves-dark grey">Logout</button></a>
                    </li>
                    <% } else { %>
                    <li>
                        <a href="/login" class="spla"><button class="btn-small waves-effect waves-dark grey">Login</button></a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

</div>




<h1>Events will appear here</h1>

<a href="/events/new">List Your Event Today!</a>

<% for(var i = 0 ; i < events.length; i++) { %>

<div>
    <h2><%= events[i].name %></h2>
    <div>
        <strong>Location: </strong> <%= events[i].location %>
        <strong>Start Date and Time :</strong> <%= events[i].startDate %> <%= events[i].startTime %>
        <% var a ="/events/"; %>
        <% var id = events[i]._id %>
        <% var url = a + id %>
        <em><a href=<%= url %>>More details</a></em>
    </div>
</div>

<% } %>
<% include partials/footer.ejs %>
