<% include ../partials/header.ejs %>

<div class="post-show">
	<div class="post-head">
		<%= post.title %>
	</div>
	<div class="post-options">
		Posted by : <%= post.author.username %>
		<% if(currentUser && currentUser._id.equals(post.author.id)){ %>
		<form action="/blog/posts/<%= post._id %>?_method=DELETE" method="POST">
			<a href="/blog/posts/<%= post._id %>/edit"><i class="fas fa-pencil-alt"></i></a>
		    <button><i class="fas fa-trash-alt"></i></button>
		</form>
		<% } %>
	</div>
	<div class="post-body">
		<%= post.content %>
	</div>
</div>

<% include ../partials/footer.ejs %>