<% include ../partials/header.ejs %>
<h1><%= post.name%></h1>
<h2>Listed By: <%= post.author.username %></h2>

<div>
    <%= post.content%>
</div>
<% var i = "/blog/posts/" + post._id + "/edit"; %>
<form action="/blog/posts/<%= post._id %>?_method=DELETE" method="POST" >
    <button>
        DELETE
    </button>
</form>

<h2><a href=<%= i %>>Edit Event</a></h2>
<% include ../partials/footer.ejs %>
